<p>[小洲村]， 广东省广州市海珠区华洲街道自然村</p>

<p>中国可能有两个「小洲村」，
一个在这里，广州市、海珠区、华洲，
另一个可能在： 福建省福州市永泰县葛岭镇</p>

<p>广州，小洲村， 古称“瀛洲”，
是一座四面环水的传统村落，面积为4.3平方千米。</p>

<p>小洲村从元朝开村，明初简姓从河南新乡迁到小洲村聚居至今。小洲村保留了完整水乡格局，享有“北有周庄，南有瀛洲”之誉。村内有众
多不可移动文化遗产，其中天后宫、玉虚宫、古桥、登灜古码头和岭南水网地带特有的“蚝壳屋”都体现了古时珠江入海口村落因水取材的
历史遗证。传说小洲的龙舟在南汉年间曾被封为“瀛洲飞龙”，因此只有小洲村的龙舟是撑黄底红边的旗帜。小洲村是具有岭南水乡特色的
古村寨，也是艺术家钟爱的栖居地，有小洲艺术村之称。大批文艺人士在小洲村聚集，一时兴起“北有798，南有小洲村”的说法^ [1]  。
2013年8月26日，小洲村被住房城乡建设部、文化部、财政部公布为第二批中国传统村落^ [2]  。</p>

<p>形成年代: 元代以前</p>

<p>主要产业: 农业（水果）
主要景点: 
    翰墨桥、登瀛码头、小洲人民礼堂等
保护级别: 
    第二批中国传统村落
批准单位: 
    住房城乡建设部、文化部、财政部
批准时间: 
    2013年8月26日</p>

<p>目录</p>

<ol>
  <li>1 村落历史</li>
  <li>2 地理环境</li>
  <li>▪ 位置境域</li>
  <li>▪ 地形地貌</li>
  <li>▪ 植被类型</li>
  <li>▪ 水文条件</li>
  <li>
    <p>3 村落特色</p>
  </li>
  <li>▪ 选址理念</li>
  <li>▪ 空间布局</li>
  <li>4 经济社会</li>
  <li>▪ 人口</li>
  <li>▪ 经济</li>
  <li>5 主要景点</li>
  <li>▪ 翰墨桥</li>
  <li>
    <p>▪ 登瀛古村围</p>
  </li>
  <li>▪ 小洲人民礼堂</li>
  <li>6 历史文化</li>
  <li>▪ 文物古迹</li>
  <li>▪ 历史人物</li>
  <li>▪ 节庆活动</li>
  <li>▪ 村志族谱</li>
  <li>7 物产美食</li>
  <li>
    <p>▪ 物产</p>
  </li>
  <li>▪ 美食</li>
  <li>8 荣誉称号</li>
  <li>9 旅游信息</li>
  <li>▪ 入村路线</li>
  <li>▪ 村内导览</li>
</ol>

<p>小洲村村落历史</p>

<p>编辑语音
[png]
小洲村从元朝开村。
清同治年间，小洲村属南海郡番禺县。
清光绪年间，小洲村属茭塘司下设的彬社。
民国时期，小洲村属番禺县。
民国十五年（1926年），小洲村首次划入广州市管辖。
民国二十六年（1937年），广州市由新设立的彬社乡公所管辖。
民国二十九年（1940年）因抗战需要，小洲村重新划归番禺县。
民国三十五年（1946年）以后，小洲村再次划归广州市。
1949年，中华人民共和国成立后，小洲村属郊区。
1956年，政府曾设立小洲乡。
1958年，小洲乡撤销，小洲村划归新成立的沥滘乡，随后又撤沥滘乡成立新滘人民公社。
1984年，新滘人民公社改为新滘区公所。
1987年，撤销区公所成为新滘镇。
20世纪90年代，岭南画家关山月、黎雄才发起组建小洲艺术村^ [3]  。
2002年，新滘镇撤销，小洲村撤村改居，设立小洲居民委员会，划归新成立的华州街道办事处管辖^ [4]  。
小洲村航拍小洲村航拍</p>

<p>小洲村地理环境</p>

<p>编辑语音</p>

<p>小洲村位置境域</p>

<p>小洲村位于广州市海珠区华洲街道，地处珠江三角洲，北侧及西侧为西江涌所环绕，村域面积为4.3平方千米^ [5]  。</p>

<p>小洲村地形地貌</p>

<p>小洲村落位于珠三角洲冲积平原上，主要山岭为华台山，海拔最高10米，这一带中间高，四周低^ [5]  。</p>

<p>小洲村植被类型</p>

<p>小洲村为果林所包围，村的西南面和东面有大片的果林，种植有石硖龙眼、荔枝、杨桃等水果。村中绿树苍翠，主要沿河涌及水巷分布，
树种以榕树柳树及秋枫树为主，古树名木集中在开敞的公共空间，如码头宗祠庙宇前的空地等，树龄在100—200年左右，树胸周长在1—2米
左右^ [6]  。</p>

<p>小洲村水文条件</p>

<p>西江涌是流经小洲村的最大河涌，从村西边自南北向绕村而过，到村北约1000米处拐入东南，又自东南而东北，在村的东北角汇入牌坊河
（珠江后航道中的一段），此河段称为“大涌”；村西的西江涌分别在西北角和西南角处各分成两条小河汊，西北河汊向南流经村中心与从
南面过来的另一支小涌汇合后，迂回东折，最后汇入细涌，这一“Y”字形水系当地通称“石岗滘”，一支北流在村中心汇入石岗滘，一支绕
过村落南缘汇入村东的细涌。西江涌宽30米至100米不等，水面宽阔，水深2—3米。
小洲村东侧为西江涌支流所包围，水面宽20—50米，水深1—2米，涌东岸基本为果林。村内有水巷三条，将古村划分为四个地块，水面宽
3—5米，水深1—2米，水巷总长约600米。
细涌是流经小洲村的第二大河涌，它接纳村中的三只小涌后，呈S形自南向北在村东北角流入大涌。而在村中心水网外围，还存在着与之
相通的果园中细长的小河沟，整个小洲村水乡聚落的河网，形成一个庞大的水网系统，这个河网水位随潮汐而涨落^ [5]  。
小洲村河畔小洲村河畔</p>

<p>小洲村村落特色</p>

<p>编辑语音</p>

<p>小洲村选址理念</p>

<p>小洲村因水而生，因水而发展。水在小洲村的形成和发展过程中起着十分重要的作用，是小洲村岭南水乡环境的母体。小洲村沿西江涌建
设，周边分布着密如蛛网蜿蜒弯曲的潮汐水道，先民们充分利用水网，使其成为村落空间系统的骨架及人们组织生活和交通的主要脉络。
河道水巷既是村民与周边农村及城市联系的纽带，也是货物运输的主要通道，还是居民日常生活洗衣洗物聚集交流的主要场所^ [5]  。</p>

<p>小洲村空间布局</p>

<p>广州市小洲村
广州市小洲村(9张)
“岭南水乡、瀛洲古寨”是小洲村落格局的最大特色。
小洲村东北方向通往珠江后航道，古村区域四面环水且内部也水网密布，河涌是小洲村落组团的自然分界，水乡村落建筑群天然地被水网
系统划分成北部、西部和南部三大组团。
小洲村的整体格局可概括为——水、林、村三位一体，相融相生，互为脉络。周围的果基河涌大环境和整体格局仍存。但古村区域内已较为
城市化，对新建建筑的控制未能严格落实，古建筑和历史文化遗存已遭受相当程度的废弃和破坏。
北部组团建筑群以中部的红砂岩小石岗（当地称为“华台”）为中心，依地势向四周大致呈放射状分布，分成南向、西南向、西向、北向、
东向五大块，类似八卦图。以红砂岩石岗为起点的街道，一直向外顺势延伸，与四周的河涌大致垂直。
南部组团的东南部一片建筑群和街巷呈明显地西北东南走向，与南北的河涌垂直；西部组团的北半部的建筑和街巷呈东西走向，垂直河涌
；南半部建筑则呈东西走向垂直河涌^ [5]  。
村内道路由青石纵铺而成，主要街道沿河涌布置，此外东西及南北各有一条街道贯穿，沿河街道宽度在5–10米左右，内街宽度稍窄，宽
度在4-6米左右。主要街道有：登瀛大街、新路大街、西约大s街、细桥大街、西浦直街、南胜大街等。巷道沿河涌及街道垂直向内发散形
成内部巷道网络，巷道宽度在3米左右，间距在20～30米左右。代表性的巷道有：中华一～六巷、南胜六～八巷、细桥三～五巷等^ [7] 
。
小洲村小巷小洲村小巷</p>

<p>小洲村经济社会</p>

<p>编辑语音</p>

<p>小洲村人口</p>

<p>据2020年2月中国传统村落博物馆官网显示，小洲村的主要民族为汉族，有户籍人口6563人，常住人口16563人^ [1]  。</p>

<p>小洲村经济</p>

<p>《小洲村史》记载小洲“村民世代以种果为生，果树成片”，“盛产驰名东南亚的石硖龙眼、红果杨桃等名果”。
《新滘》记载：20世纪末，（新滘）已不再种植水稻。明末清初，农民已懂得修建堤岸果基，以保持水土肥分，增加水果产量。其中“果
基鱼塘”是传统的耕作方式。即将低洼田挖深成塘，挖出的泥土堆在四周作基。“塘中养鱼、基上种果”，具有良好的种养效果。
20世纪70年代，小洲村生产的水果几乎全部出口，销往香港、澳门和东南亚地区。
据2020年2月中国传统村落博物馆官网显示，小洲村的主要产业为农业（水果），村集体年收入为2000万元，村民人均年收入为3047元，
杨桃种植规模最大，目前有1165亩，年产量为3200吨^ [1]  ^ [8]  。</p>

<p>小洲村主要景点</p>

<p>编辑语音</p>

<p>小洲村翰墨桥</p>

<p>翰墨桥翰墨桥
翰墨桥位于瀛洲路小洲村西浦大街至西园大街的石岗涌上。相传为小洲村人司马思乡念祖时兴建，始建于明代，东西走向，为单孔石梁桥
，总长9.75米，总阔2.15米。石桥两边分别以花岗岩和红砂岩交错横铺叠砌桥座基，在座基面各以6块2.22米×0.61米×0.2米花岗石横铺成
6级台阶。桥面由5根5.56米×0.6米×0.4米花岗岩石梁铺砌而成，桥身两侧有石栏板，中部阴刻“翰墨桥”，篆书，题字字迹已难辨。瀛洲八
景之一“翰桥夜月”得名于此。翰墨桥是海珠区为数不多保存完好的明代古石桥，至今该桥仍为村中主要街巷桥梁^ [5]  。</p>

<p>小洲村登瀛古村围</p>

<p>登瀛古村围登瀛古村围
登瀛古村围位于登瀛路小洲村登瀛外街1号至登瀛新街一巷11号旁边。建于清咸丰年间。自东向西长22米，高3.08米，厚0.27米。用青砖
双隅砌筑。墙体有窗眼，呈长方形。大门宽3.54米，残高约3米，大门用花岗岩和青砖砌筑。原登瀛大街门楼石匾，现放置于门楼前大榕
树脚。小洲村筑村墙是用于自卫，墙上有“日”字形枪眼。村墙中段的门楼设有竖木柱（俗称企栋），门楼上有门额，上阴刻草书“登瀛”，
该门额为花岗石匾，长0.9米，宽0.35米，现门额存放在码头上。登瀛古村围是海珠区仅存唯一的护村墙，也从侧面反映小洲村当时商贸
繁盛。墙体保存基本完整，长方形窗眼保留完好。大门已经毁坏。墙体上曾有文化大革命时期壁画，现已不能辨认^ [5]  。</p>

<p>小洲村小洲人民礼堂</p>

<p>[png]
小洲人民礼堂位于广东省广州市海珠区华洲街小洲村拱北大街20号。建于1959年，当时正是“大跃进”时期，全村男女老少总动员，一砖一
瓦把礼堂建设起来，是海珠区为数不多的苏式礼堂，见证小洲村工业发展历史。
2011年10月，被公布为海珠区登记保护文物单位^ [6]  。</p>

<p>小洲村历史文化</p>

<p>编辑语音</p>

<p>小洲村文物古迹</p>

<p>小洲村历史悠久，有价值的文物古迹共24处，包括古村墙、庙宇、祠堂、书院、门楼、民宅、古桥梁、码头等等。
村中保留的古码头与古城墙，体现了小洲村的村寨特色，村中布局的古庙、古祠堂以及司马府第、蚝壳屋等古民居，是珠江三角洲地区历
史建筑的典型代表，是小洲村作为瀛洲古寨的重要标志，具有较高的历史价值和审美价值，同时可作为珠江三角洲的人类聚居形态研究对
象，具有一定的人类学研究价值。村内还保留有岭南地区少有的“蚝壳屋”，已有100多年历史。小洲村河网纵横，桥梁众多。其古码头、
古商业街、古桥、古树，展现着悠久的历史；青砖花岗石脚墙，灰雕、石雕、砖雕，花岗石柱、石枋、木雕梁架等体现了岭南建筑风格。
这些众多的古建筑与河道，构成了保存完好的传统村落布局与“小桥流水人家”的乡村风貌^ [5]  。</p>

<p>• 登瀛码头</p>

<p>登瀛码头登瀛码头
登瀛码头位于小洲村登瀛外街。据说该码头存在500年以上，始建何年待考。坐南朝北。整座码头总长186.8米，宽27米，占地而积约5000
平方米。码头用花岗岩条石构筑，分为4个埠头，最东为街艇码头，过去由该处乘渡船前往市区。中间两个埠头为凹形，分别宽3米和2.7
米。西边埠头为凸形，宽4.09米，共有13级台阶。原码头种有6棵排列整齐的榕树。现已划入广州市古树保护之列，其中编号为650的古榕
树，树围4.01米，据有关部门鉴定，该树龄超过350年，为广东省内榕树树龄最高者之一。在码头的古榕树下，排列花岗条石，为小洲村
八景的“古市榕荫”。现登瀛码头保存完整，构筑码头的花岗条石至今完整稳固，是广州市保存完整的古码头之一^ [5]  。</p>

<p>• 小洲牌坊码头遗址</p>

<p>小洲牌坊码头遗址小洲牌坊码头遗址
小洲牌坊码头遗址位于小洲村东部珠江后航道边，牌坊码头历史悠久，过去码头堤岸曾立有牌坊，现牌坊已不存，只剩下码头，一直沿用
牌坊码头名称。其始建年代无资料记载。牌坊码头为凸形，坐西向东，从堤岸伸向河中。码头台阶用原古码头拆下的花岗岩条石铺砌，台
阶宽4米，深15米，共18级。从堤岸到江心砌出9级台阶，设一平台，再砌出9级台阶向河滩伸出。码头用材厚实，花岗岩石整块长4米，宽
0.35米，厚0.19米，历史久远，一直无损。
2003年重修码头时，在搬移过程中断了几块，其余完好无损。构筑码头的花岗岩条石完整稳固，是广州市保存完整的古码头之一^ [5] 
。
小洲村小洲村</p>

<p>小洲村历史人物</p>

<p>简明（1920年-1968年），祖籍广州市海珠区小洲村。生于越南海防市。1938年2月，离开越南返国，到延安参加革命，4月加入中国共产
党，同年底被派往冀中地区工作，历任冀中抗日先锋总队队长，冀中武委会副主任，十分区后勤司令部副司令员，保定军分区党委会委员
、参谋长。解放后任海军航空学校副参谋长兼训练处长。
简丽初，生卒不详，小洲乡东约坊人，泰国警察副总监坤针廉少将夫人，简女士深慨炎黄之裔，一旦寄身异国，对祖国文物，淡焉若忘，
青年由多不习汉字。简女士攘臂而起，异于流俗，自撰《啼鹃记》等说部^ [4]  。</p>

<p>小洲村节庆活动</p>

<p>端午节：接新龙舟是小洲村里的一件大事，要结合水文潮汐的规律选好良辰吉日，农历四、五月份珠江涨水，是接龙舟的最好时机。根据
传统，新船下水之前，必须要举行仪式。先给龙头披上红布、放鞭炮，以示吉祥；随后，敲锣鼓，送龙舟下水，直到龙舟全身都浮在水里
；接着，为龙舟插上分别写着一帆风顺、龙马精神、国泰民安、五谷丰登及风调雨顺的罗伞。新龙舟还被安装了四个锣、一个鼓以及用来
祈祷神灵保佑的装饰物“门宫”。龙头和龙尾插上彩色的旗帜，上书“瀛洲飞龙”。新龙舟离别产地的时候，需在原地往返三次，象征龙舟在
向它的“出生地”叩拜道别。
北帝庙会：北帝庙会是小洲村传统的文化娱乐节目。每年农历三月初三为北帝诞辰，这一天周围三乡五里的人携老扶幼都来叩拜北帝，祈
望全家平安、吉祥如意。庙会时通常还会举行传统的“飘色”巡游活动，并在北帝庙北侧的水塘上搭台唱戏。“飘色”活动又称为“出色”，从
农历三月初一开始，至初五结束，连续五天，沿着北帝公出游的传统路线巡游^ [9]  。</p>

<p>小洲村村志族谱</p>

<p>[png]
1922年，历史学家、教育家简朝亮开始主持编撰《粤东简氏大同谱》。广东一百多房简氏宗亲分布在岭南不同的地方，编撰大同谱不容易
。为了编撰大同谱，简朝亮收集了粤东各房宗亲的族谱资料，并派专人到现场实地考查采访，最后编撰而成。
《粤东简氏大同谱·家传谱·小洲系十五世颉云公》中，有记载关于小洲最大姓氏简氏的始迁祖情况^ [4]  。</p>

<p>小洲村物产美食</p>

<p>编辑语音</p>

<p>小洲村物产</p>

<p>小洲村盛产岭南水果，杨桃、木瓜、番石榴、龙眼、黄皮是传统的五大特产。小洲村的地方特产包括香蕉、三华李、青榄、柑、橙和“岭
南果王”——木瓜等水果^ [8]  。</p>

<p>小洲村美食</p>

<p>特色传统（节庆）食品有：煎堆、油角、米饼、粽子、猪脚姜、嫁女饼、芝麻糊、萝卜牛杂、艇仔粥等。
煎堆：明未清初的《广东新语》载：“广州之俗，岁终，以烈火爆开糯谷，名曰爆谷，为煎堆心馅。煎堆者，以糯粉为大小圆，入油煎之
，以祀先祖及馈亲友者也。”有“年晚煎堆，人有我有”之谚。
猪脚姜：又称猪脚姜醋或姜醋，是广东的一种食品，材料包括姜，甜醋，蛋及猪脚。产后妇女在家休养至少四十天，俗称坐月，藉休养生
息，以补充流失养份。她们会吃猪脚姜以滋补强身。而在弥月宴席上，猪脚姜是不可缺少的菜式。姜能驱寒去湿、行气活血。用添丁甜醋
与猪脚同煲，是借黑醋将猪脚骨的钙质溶化，产妇饮后能补充钙质。煲透的老姜腍而不辣，猪脚皮腍而不腻，黑醋甜香而不酸。特别在冬
冷春寒时进饮能补气活络、驱寒祛风、醒胃可口。
艇仔粥：艇仔粥是广州的著名小吃，相传正宗的艇仔粥应该是在漂浮于河上的艇仔上制作的，甚至必须在艇仔里面吃。艇仔粥因此得名。
艇仔粥以新鲜的小虾、鱼片、葱花、蛋丝、海蛰、花生仁、浮皮、油条屑为原料，煮粥的手法也依照滚粥冲烫粥料的手法，立即冲滚、稍
后品尝。其特点是粥底绵烂，粥味鲜甜，集众多物料之长，爽脆软滑兼备。
萝卜牛杂：萝卜牛杂是广东广州著名的小吃，属于粤菜系。
嫁女饼：相传嫁女饼始于刘备迎娶孙夫人，流传至今，派送嫁女饼习俗已成为婚礼中不可轻率的一环：一方面渲染喜庆，另一方面也是向
亲朋好友宣布女儿将出嫁的喜讯。广东地区婚宴最常见的嫁女饼，也叫绫酥。传统礼饼中“绫酥”与衣饰典故有关。昔日豪门嫁娶以礼饼的
丰厚显示体面和气派，绫罗绸缎乃贵族之四款华贵衣料，其中“绫”最名贵。故此，礼饼就以“绫酥”为首选，喻意荣华。绫酥有黄、白、红
、橙四色之分：黄绫以豆蓉做馅，喻意贵族和皇气；白绫以爽糖或五仁做馅，代表了女方的贞洁；红绫最讲究也最贵，以莲蓉做馅，也有
用冬蓉的，喻意喜庆的气氛；橙绫则有豆沙或椰丝做馅，喻意小两口今后生活金灿灿。有些绫酥中还可加入蛋黄，彰显高贵。四色绫酥的
出现，代表了老百姓对新人新生活的寄托，也从另一角度看到了对老人家的尊敬^ [8]  。
本地特产本地特产</p>

<p>小洲村荣誉称号</p>

<p>编辑语音</p>

<p>时间  荣誉称号    授予单位
2006 广东最美丽 广东省旅游局
 年  乡村示范村
2008 国家级生态 中华人民共和
年4      村     国环境保护部
 月
2011 中国最有魅 中华人民共和
年3  力休闲乡村   国农业部
 月
2013            住房城乡建设
年8  第二批中国 部、文化部、
月26  传统村落     财政部
 日
参考资料：^ [2]  ^[4]</p>

<p>小洲村旅游信息</p>

<p>编辑语音</p>

<p>小洲村入村路线</p>

<p>小洲村东、西、北三面皆有快速路穿过。东邻南沙港快速路，可去往广州南部南沙区；西和北距华南快速路小洲村出口和南环高速公路土
华出口约1千米、2.5千米，沿这两条快速干线车行10-15分钟，北可达广州国际会展中心、天河新城市中心和广州东站等地区，东可达长
州岛历史文化保护区、广东奥林匹克体育中心等地区，西可达新客港和花地新城等地区；车行30分钟可到达广州白云国际机场。市内公共
汽车可乘坐广州公交45路、广州公交252路、广州公交468路直达小洲村。
广州地铁可乘至广州地铁3号线、广佛线等地铁线路到达沥滘站，或广州地铁4号线站点大学城北站^ [7]  。
入村路线入村路线</p>

<p>小洲村村内导览</p>

<p>• 主要游线</p>

<p>北入口——倚山大街，主要景点包括：华台山、小洲牌坊、工艺品商业街、礼堂
西浦直街－西园直街，主要景点包括：翰墨桥、穗侨简公祠、慕南祖。
拱北大街，主要景点包括：玉虚宫、天后宫、古市榕荫（仿古复原）
登瀛大街－东道大街－东庆大街，主要景点包括：登瀛古码头、三帝庙、简公佛、泗海公祠、瀛山简公祠、粤梅祖、简氏大宗祠、东池祖
、西江涌、土特产品商业街、艺术街。</p>

<p>• 次要游线</p>

<p>西约大街，主要景点包括：西溪简公祠、西江涌
细桥大街－新路大街，主要景点包括：小桥流水的水乡景色
新南大街－拱桥二巷，主要景点包括：吕山祖等古建^ [7]  。
词条图册更多图册</p>

<p>参考资料
      □ 1.    小洲村  ．中国传统村落博物馆[引用日期2020-02-26]
      □ 2.    住房城乡建设部文化部财政部关于公布第二批列入中国传统村落名录的村落名单的通知  ．中华人民共和国住房和城乡建
        设部[引用日期2020-02-26]
      □ 3.    变革漩涡中的小洲村古风渐远艺韵犹存  ．凤凰资讯[引用日期2020-02-26]
      □ 4.    历史文化  ．中国传统村落博物馆[引用日期2020-02-26]
      □ 5.    环境格局  ．中国传统村落博物馆[引用日期2020-02-26]
      □ 6.    传统建筑  ．中国传统村落博物馆[引用日期2020-02-26]
      □ 7.    旅游导览  ．中国传统村落博物馆[引用日期2020-02-26]
      □ 8.    美食物产  ．中国传统村落博物馆[引用日期2020-02-26]
      □ 9.    民俗文化  ．中国传统村落博物馆[引用日期2020-02-26]</p>

<p>小洲村图集
小洲村的概述图
V百科往期回顾</p>

<p>词条统计
      □ 浏览次数：次
      □ 编辑次数：93次历史版本
      □ 最近更新： Good丶Hao [contribute] （2020-04-08）
突出贡献榜
      □ 快乐无极限3838 [contribute]
        特色词条优质版本
      □ sanderluohao
        创建版本</p>

<p>1 村落历史
2 地理环境
    2.1 位置境域
    2.2 地形地貌
    2.3 植被类型
    2.4 水文条件
3 村落特色
    3.1 选址理念
    3.2 空间布局
4 经济社会
    4.1 人口
    4.2 经济
5 主要景点
    5.1 翰墨桥
    5.2 登瀛古村围
    5.3 小洲人民礼堂
6 历史文化
    6.1 文物古迹
    6.2 历史人物
    6.3 节庆活动
    6.4 村志族谱
7 物产美食
    7.1 物产
    7.2 美食
8 荣誉称号
9 旅游信息
    9.1 入村路线
    9.2 村内导览</p>

<p>为您推荐广告</p>

<p>搜索发现</p>

<p>新手上路
    成长任务
    编辑入门
    编辑规则
    本人编辑new</p>

<p>我有疑问
    内容质疑
    在线客服
    官方贴吧
    意见反馈</p>

<p>投诉建议
    举报不良信息
    未通过词条申诉
    投诉侵权信息
    封禁查询与解封</p>

<table>
  <tbody>
    <tr>
      <td>©2021 Baidu 使用百度前必读</td>
      <td>百科协议</td>
      <td>隐私政策</td>
      <td>百度百科合作平台</td>
      <td>京ICP证030173号 ●</td>
    </tr>
  </tbody>
</table>

<p>京公网安备11000002000001号</p>

<p>[小洲村              ]进入词条
  • 清除历史记录关闭</p>

<p>语音编辑讨论  收藏赞
登录</p>

<p>扫码下载百科APP</p>

<p>领取50财富值奖励</p>

<p>分享到微信朋友圈
打开微信“扫一扫”即可将网页分享至朋友圈
[format]</p>

<p>选择朗读音色</p>

