<h1 id="简介">简介</h1>

<ul>
  <li>姓氏: 简〔簡〕</li>
  <li>拼音jiǎn</li>
  <li>人口约 150 多万〔最常见姓氏〕</li>
  <li>百家姓排名第 129 位。位于顔姓之后，骆姓之前。</li>
</ul>

<h1 id="简姓起源">简姓起源</h1>

<p>主要源自：姬姓、嬴姓、芈姓。</p>

<p>简姓，源自春秋周臣简师父、鲁臣简叔、晋国续简伯（狐鞫居，封续邑，号续简伯），
此后即有子孙以简为姓氏。
简姓启籍于范阳（今河 北省涿州辖地），
属汉高帝置县之地。
三国时期，魏国黄初中改名范阳郡，
自后，简姓以范阳郡为郡望。
范阳简氏汉代有治尚书者曰简卿、
三国时追随昭烈者曰简雍、
五代时避北方之乱远迁南粤者曰简一山。
自蜀徙居江西者有雍公廿二世孙简庆远，
一山公之后有南汉状元简文会。</p>

<p>中华简氏多以庆远公、文会公后裔自居。</p>

<p>历史上简姓的著名人物有：三国谋士简雍；五代十国南汉状元简文会；明代孝子简而廉；清代文学家简宗杰；近代民族资本家简照南；现
代史学家简又文，微生物学家简浩然，光通信专家简水生等。</p>

<p>姓氏溯源</p>

<p>简姓起源一</p>

<p>源于姬姓。简姓得姓始祖狐鞫居号续简伯，而狐氏为姬姓唐叔虞的分支。续简伯死后，其子孙因其谥号为姓，是为简姓。后裔自晋地徙居
秦之涿郡，是为范阳简氏。</p>

<p>姓氏溯源
简姓起源二</p>

<p>源于嬴姓，出自春秋时期秦国大夫蹇叔，在蹇叔的后裔子孙中，有人后来以先祖名字中的“蹇”为姓氏，再后改以同音字“简”为姓氏，称简
氏，世代相传至今，是为咸阳简氏。贵州遵义也有“蹇”改“简”氏。</p>

<p>姓氏溯源
简姓起源三</p>

<p>源于殷商末，仲雍之子，名叫季简、居简。在后裔子孙中，有以先祖的名字为姓氏者，称简氏。世代相传至今，后迁居河南密县一带，是
为密州简氏。</p>

<p>姓氏溯源
简姓起源四</p>

<p>源于嬴姓，出自春秋时期晋国大夫赵简子之后，属于以先祖名号为氏。赵简子，即赵鞅，又名志父，亦称赵孟，公元前？～458年待考，
他是春秋末年晋国正卿，史称其为简襄功烈。在赵简子的后裔子孙中，有以先祖尊号为姓氏者，称简氏，世代相传至今，是为邯郸简氏。</p>

<p>姓氏溯源
简姓起源五</p>

<p>源于芈姓，出自战国时期楚简王熊中之后，属于以先祖谥号为氏。楚简王熊中，又称柬大王，楚惠王之子，公元前431～前408年在位。在
楚简王的庶系子孙中，有先祖谥号为姓氏者，称简氏，世代相传至今，是为荆门简氏。</p>

<p>姓氏溯源
简姓起源六</p>

<p>源于满族，属于汉化改姓为氏。据史籍《清朝通志·氏族略·满洲八旗姓》记载：</p>

<p>（1）满族托里氏，亦称托立氏，满语为Tori Hala，汉义“神镜”，世居黑龙江沿岸，所冠汉姓为陶氏、简氏等。该支简氏始祖为托里·简
泰，满洲镶白旗人，世居黑龙江沿岸，后在清顺治年间从征云南南明政权时阵亡，清世祖追赠其为云骑尉。在托里·简泰的后裔子孙中，
有以先祖名字首音之谐音汉字为汉化姓氏者，称简氏，世代相传至今。</p>

<p>（2）满族关佳氏，亦称官佳氏，满语为Guangiya Hala，祖先原为汉族，东汉末期被辽东鲜卑乌桓部虏携，融入鲜卑，后逐渐演化为辽东
女真，世居襄平（今辽宁辽阳），后多冠汉姓为官氏、关氏、简氏等。该支简氏始祖为清嘉庆皇帝的简嫔。简嫔关佳氏是关佳·拜唐阿德
居之女。清乾隆年间入侍十五皇子爱新觉罗·颙琰潜邸，号称“格格”。在清乾隆四十五年（公元1780年）农历4月11日，简嫔在生皇长女时
难产而亡。到了清嘉庆二年（公元1797年）农历4月，清仁宗追封其为简嫔。在简嫔的关佳氏族人中，有以先祖母封号为汉化姓氏者，称
简氏，世代相传至今，是为河北易县简氏。</p>

<p>姓氏溯源
简姓起源六</p>

<p>源于姬姓，出自春秋时期晋国大夫简子取之后，属于以先祖名号为氏。在简子取的支庶后裔子孙以及族人中，有以先祖名号为姓氏者，称
简氏，世代相传至今，是为安邑简氏，或称夏县简氏。</p>

<p>姓氏溯源
简姓起源七</p>

<p>源于嬴姓，出自战国时期秦简公嬴悼子之后，属于以先祖谥号为氏。秦简公嬴悼子，公元前414～前400年在位，是战国时期秦国君主，秦
怀公之子，秦灵公之叔父。在秦简公的庶系子孙中，有先祖谥号为姓氏者，称简氏，世代相传至今，是为秦川简氏。</p>

<p>简姓分布</p>

<p>简氏是一个典型的多民族、多源流姓氏，在当今姓氏排行榜上名列第二百二十四位，但在台湾省则排名第三十二位，如今简氏人口约有一
百五十余万，占全国人口总数的0.042%左右。简姓在大陆没有列入百家姓前一百位，在台湾排名三十二位。简氏以河北的范阳（后改涿郡
）为繁衍中心。如果稍加留意，当可发现自己家族的堂名不是“范阳”，就是“涿郡”。不过，简氏也跟大多数著名姓氏一样，并非仅仅只有
春秋时代晋国公族的一支。</p>

<p>关于2000多年以来简氏的播迁情形，也已经被考证。《简氏祖先考》曰：“在涿郡者，汉时有简卿，其在范阳者，三国时有简雍。”</p>

<p>据各地谱载，简氏自范阳后，其中一支跟随三国蜀汉昭德将军简雍随迁至四川简州，后逐步迁徙江西，以江西境内简氏为族显，再由江西
迁播各地；而留守范阳的一支至五季后梁时，契丹寇北方，涿州无日不忧兵，该支自涿州逾可涉江而先入南粤，是为粤东岭南支，遍及台
湾、广东、福建等地，但其中也不乏自蜀或自江西南迁者。</p>

<p>简姓名人明星</p>

<p>• [a5426d78-0a]
    简弘亦
  • [dc282a63-49]
    简恺乐
  • [d5a5b962-5a]
    简嫚书
  • [f25c8f47-72]
    简慕华
  • [dc588f6f-59]
    简沛恩</p>

<p>简姓郡望</p>

<p>范阳郡：秦朝时期置郡，其时辖地在今河北省定兴县境内，治所在固城（今河北省定兴县固城镇）。三国时期曹魏国魏文帝黄初七年（丙
午，公元226年）改涿郡置范阳郡，其治所在蓟（今河北蓟县），其时辖地在今北京市昌平区、房山区及河北省涿州市一带。西晋时期改
为范阳国，北魏时期复改回范阳郡。隋朝开皇初年废黜。唐朝时期的幽州范阳郡，本是幽州涿郡，唐天宝元年（壬午，公元742年）改置
，治所在蓟县（今北京），又名为方镇。唐宝应元年（壬寅，公元762年）改幽州，并兼卢龙。唐大历四年（己酉，公元769年），与固安
等县自幽州析出，置涿州，以范阳县为治所。</p>

<p>涿　郡：春秋战国时期初为燕国涿邑，秦朝时期属于上谷郡。汉高祖刘邦六年(庚子，公元前201年)设立涿郡，辖涿(今河北涿州)，领二
十九县，其中良乡县、西乡县和阳乡县北部在今北京市房山区境，其时辖地在今河北省博野县、涿州市一带地区。王莽时期改名为垣翰郡
。东汉复名涿郡，省西乡县，仅良乡县在今北京市境。三国时期曹魏改为范阳郡。西晋时期为范阳国。十六国、北朝时期为阳范郡。隋朝
大业三年（丁卯，公元607年），废幽州改置涿郡，辖蓟州，故城在今北京市区西南，领九县，其中蓟、昌平、潞、良乡四县及怀戎县的
东部在今北京市境。唐朝时期改涿县为范阳县，唐武德元年（戊寅，公元618年）复改范阳县为幽州。明朝时期省县入州。民国时期改为
涿县。</p>

<p>简姓堂号</p>

<p>范阳堂：以望立堂。</p>

<p>涿郡堂：以望立堂。</p>

<p>德感堂：宋朝时有简士杰任清江司礼参军。范大成请他入幕府，改任蒲圻知县。他在做县官的时候，不设科条，只重教化，百姓都不忍犯
罪。后被升为贺州知州。</p>

<p>其他简氏堂号：古遗堂、隆恩堂、敦叙堂、聚顺堂、世美堂、恩畏堂、世禄堂、嘉会堂、帝心堂、念梅堂、沧阳堂。（待续）</p>

<p>简姓姓氏源流</p>

<p>一、简(簡)jiǎn</p>

<p>现行常见姓氏。今北京，天津之武清，河北之尚义、景县，山东之龙口，内蒙古之乌海，山西之太原，湖南之芷江，广东之新会，广西之
田林，云南之河口，四川之合江等地均有分布。汉族、仡佬族有此姓。《郑通志》、《清通志》之《氏族略》亦俱收载。其源不一：</p>

<p>1、郑樵注云：“姬姓，晋大夫狐鞫居之后。狐鞫居号绩简伯。绩，邑也；简，谥也。”此以谥为氏，系出姬姓。</p>

<p>2、又注云：“简雍本姓耿，幽州人。以耿为简，遂为简氏。”“《蜀志》：‘简雍，善滑稽。’《传》云：‘幽州人，本姓耿，幽人以耿为简
，音讹(而致)。’”</p>

<p>3、《姓氏考略》则云：“简氏出於简师父。”</p>

<p>4、又云：“鲁有简叔，其后亦或以为氏。望出范阳、涿郡。”</p>

<p>5、又据《姓苑》注云：“又有检氏，避讳改为简者。”宋代有简克己、简正理；又有简世杰，清江司理参军；明代有简祖英；又有简辅，
马平人，永新参军；清代有简敬临；又有简逢善，任守备。</p>

<p>简姓历史名人</p>

<p>简姓古代名人</p>

<p>简克己宋朝（约1142-1224），宋代南海人。少习举业，已而厌之，叹曰：“言行未寡尤悔，遽投牒事干禄，岂古人意哉？”远游湖湘，师
事张栻者数年，讲性理之学，以真知实践为事功，智中群疑涣如也。栻亦称其“精确有守”。既得其传，退归杜门，不妄与人交，所知询之
，则曰：“吾方治吾身心药未暇也，而敢骛外乎哉？”书南轩之言为座右铭，曰：“人之性，仁义礼智四德具焉。其爱之体，则仁也，是乃
天地生物之心而其所由生者也，故仁为四德之所长。人惟己私蔽之，以失其性之理，是以为仁莫要乎克己，己私既克，爱之理无所蔽，则
与天地万物血脉贯通而其用，亦无不周矣！”盖顾名思义之意也。乡邑以其耆宿且有德也，皆敬礼焉。崔与之自倅邕洎，被召往来谒见，
皆执弟子礼，北面再拜，克己受之。廖德明帅广日往见之，时延至郡斋，讲论旧学，每谛听必拱立，其为名流所重。如此性喜，启迪后进
，或时燕坐门塾里巷，子弟肆业过其门者，必呼之前厯，问所业，举语孟要语为之讲解，有通习者抚而劝奖之，不通者辄加警诲，其勤过
于父师，士无长少，咸乎“简先生”云。卒寿八十余。</p>

<p>简卿西汉，武帝时（公元前140－87年间），山东东平人，以经学享誉天下。</p>

<p>简雍涿郡人，字宪和，少与先主刘备善，从至荆州，為从事中郎，往来使命，先主围成都，入城说刘璋归命，拜昭德将军，性简傲跌宕，
滑讥讽諫言，為刘备所重视。</p>

<p>简文会南汉，尚书右丞。南汉是五代十国时的政权，君主叫刘龑。简文会自幼聪颖，勤奋读书，精通经史，善於作诗。刘龑初开进士科，
简文会参考中了第一名，成為中国歷史上第一个状元。[原创研究？]</p>

<p>简一山五代，后梁时，避契丹寇患，由范阳之涿洲，官由岭外，旅南雄，渐至广州，南汉时命子文会卜居黎涌乡。</p>

<p>简正理宋代，御史。居官廉介，以儒术飭吏治，时誉翕然。</p>

<p>简世杰进贤人，自伯俊，隆兴进士，任清江司理参事，范成大辟入幕府，改知蒲圻县，不设科条，民不忍犯，迁知贺州卒。</p>

<p>简而廉明代，孝子。通五经，举孝行，以明经任临利训导，著有《孝经解》。</p>

<p>简实理元朝，号秋碧，简正理二弟，元代江西省新余市鹄山乡桐村人。邑庠生，治诗，元乡贡进士，初授社稷暑，改泗水县管勾郎中，长
河源县尹，有能声。任管勾期间，重建孔林孔庙有功，时诸公名士赋诗以嘉。</p>

<p>简芳明朝，字德馨，明代上高人。弘治年间进士，历官南京刑部主事、兵部郎中。性情耿直，执法严明而公正，名重一时。</p>

<p>简嘉诰（1430~1489），字承命，行一，明代四川嘉定州蒲江县人，民籍，治《诗经》。明代宗景泰七年（1456）考中丙子科举人，英宗
天顺元年（1457）登丁丑科进士，官列“监察御史”，封“奉直大夫”。</p>

<p>简姓近代名人</p>

<p>简宗杰清朝（1825-1880），字敬甫，号南屏，昆明人。同治元年壬戌科第三甲第二十一名进士，官至农部主事。光绪六年二月六日病逝
于北京，享年五十五岁。著有《居敬斋诗钞》十四卷等。简宗杰的诗作有三类最被后人称道。一类是登临揽胜，描写自然风光的；另一类
是忆旧怀乡，描写风土人情的；还有一类是忧国忧民，描写战乱的。登临揽胜，描写自然风光的诗，诗人常常用白描的手法状物写景，观
察入微，清新感人。如道光三十年至咸丰二年（1852年），简宗杰在昆明西山麓的普贤寺读书，读书之余常登临揽胜、寻幽探奇，写下了
很多山水诗，其中的《普贤寺外晚眺》和《登太华山罗汉壁》很能体现他的山水诗的风格。</p>

<p>简大狮（1870-1900），出生于台湾淡水。甲午战争后，台湾割让给日本。台湾人民掀起反割台的斗争。简大狮多次谋划进京暗杀李鸿章
，都被亲友劝阻。1895年日本侵略者铁蹄踏进台湾，在台湾烧杀淫掠，简大狮在淡水揭竿起义，率领义军攻袭台北，首次攻打江头，断开
引北电话线；转而攻泸屋街，与日军巷战于天后宫，致日军死伤三百多人，日军援兵至，退入山中。抗日义军在极其艰苦的条件下，坚持
武装斗争整整三年。日军进山围剿，简大狮在台湾无法立足，潜回漳州。日寇获知，胁迫满清政府围剿。简大狮未被日军所捕，却被清军
抓获。腐败无能的满清政府把简大狮“引渡”给日人。1900年3月22日简大狮在台湾受尽酷刑后，被日寇杀害。</p>

<p>简朝亮（1851-1933），字季纪，号竹居，清末顺德人简岸。
光绪元年25岁，游于南海朱次琦九江先生门下，
从学经、史、掌故、性理、 词章之学，恪守师训，为九江高足弟子。
屡试不第，遂绝意科举，杜门著述，以阐扬师说为己任。
后以讲学著述为主。
著有《朱先生讲学 记》、《尚书集注述疏》、《论语集注补正述疏》。
清季，简朝亮公就抱着“为宗族光”的夙愿，
投身简氏族谱的编纂，
1911年，主纂《顺 德简岸简氏家谱》告竣，
1921年，又与简氏宗人共纂《粤东简氏大同谱》，
北京图书馆、人民大学、福建图书馆、广东中山文献馆、广东 博物馆、中山大学、日本东洋文库、美国犹他家谱学会有藏本。
身为总纂，经营六载，年届七十六始竣其事。
这是他晚年主持的最大的一项“文化工程”。</p>

<p>简扏中（1852-1901），字少樵，号立卿，简宗杰的侄子，昆明人。
简执中于清光绪二年丙子科带补甲子科考中第六名举人，
第二年赴京 应会试不第。
回昆后，被委任为云南县教谕。
光绪十七年，云贵总督王文韶、云南巡抚谭均培奏请获准创建经正书院，
以培养云南的人才 。光绪皇帝御书的【滇池植秀】扁额被悬挂在经正书院内。
书院设内课高材生二十四名，副额十二名，外课生八十名。
首任山长许印芳， 继任山长陈荣昌均为博学多才的著名学者。
简执中受聘为首任监院，负责教务、训导和行政管理工作，
其职权仅次于书院的最高职位山长 。
简执中在担任经正书院监院期间，辅佐山长尽心尽力地培育人才。
《滇诗丛录》作者介绍中称他“晚岁任经正书院监院，谦和爱士，不失师表。”</p>

<p>简照南（1870-1923），
清末广州府南海县人为近代民族资本典型企业——南洋兄弟烟草公司之创始人。
简照南家贫，17岁到香港，在叔父
简铭石开的巨隆号瓷器店学做生意，
不久便派他长驻日本收理账款。
不久在曼谷开办“怡生兄弟公司”经营百货，赚了大钱，
随后又开办了
“顺泰轮船公司，”，由租船航运到自购船承办海运，
航线遍及东南亚各地。上海有名的“觉园”即是其捐赠。</p>

<p>简玉阶（1877-1957），简照南胞弟，清末广州府南海县人。
爱国实业家，与其兄简照南共同创立广东南洋烟草公司。
清光绪十九年，玉
阶随兄简照南到日本经商。
在上海期间发起创立“上海佛教净业社”。，
新中国成立后，简玉阶被选为中国人民政治协商会议中15名工商代
表之一，随后被任命为国务院财经委员会委员、中南军政委员会委员、广东省政府委员，
后又被选为全国人民代表大会代表。1956年被推
为上海佛教协会名誉会员。</p>

<p>简经纶（1888-1950），字琴石，号琴斋，别署千石，室名千石楼、万石楼、在山楼等，广东番禺人。
书法篆刻家。民国时期为数不多以
甲骨文入印的篆刻家,其甲骨文印在当时取得了一定的艺术成就，
时至今日，对于我们的篆刻创作仍具有积极地借鉴意义。</p>

<p>关于中华简氏网</p>

<p>中华简氏网（jian.zupu.cn）是族谱网旗下姓氏网站，
这里汇集简氏新闻，简氏话题，简氏名人，简氏源流，
简氏文化，简氏企业，简氏族谱，
简氏寻根等内容，汇聚世界各地简氏宗亲联谊会，
打造最权威的简氏宗亲网站。
中华简氏网以弘扬简氏文化，传承简氏文明，
促进简氏宗亲和谐为宗旨，是目前国内简氏资讯最新最全的姓氏网站，
是一个综合性的、公益性的简氏文化交流平台。</p>

