
<h1 id="collections">collections:</h1>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>'output:'  need indent to right, it causes a lot error
</code></pre></div></div>

<h1 id="rss">RSS:</h1>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>to get rid of RSS:
cp _layouts/default.html to ./home.html
</code></pre></div></div>

